<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Minecraft"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="GradleStart"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Minecraft"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xincgc -Xmx1024M -Xms1024M&#13;&#10;-Dnogui=true&#13;&#10;-Dfml.ignoreInvalidMinecraftCertificates=true&#13;&#10;-Dfml.coreMods.load=edu.utd.minecraft.mod.polycraft.PolycraftCorePlugin&#13;&#10;-DwikiUrl=www.polycraftworld.com&#13;&#10;-DwikiScriptPath=/wiki&#13;&#10;-DwikiUsername=Walter&#13;&#10;-DwikiPassword=PN8UII$XLHQs&#13;&#10;-DwikiOverwritePages=true"/>
</launchConfiguration>
