/* CSS placed here will affect users of the Vector skin */

div.inventory{margin: 0;padding: 0;height: 174px; width: 352px;}

div.slot div.amount{
right:1px;
top:-15px;
float:right;
position:relative;
text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
color: #FFFFFF;
font-size: 14px;
font-weight: bold;
font-family: "Courier New", Courier, monospace;
}

div.inventory div.shapeless{color:#404040;font-size:16px;position:absolute;right:20px;top:9px}

div.inventory div.slot{height:32px;margin:0;padding:0;position:absolute;width:32px}

div.inventory.crafting-table{background: url('http://www.polycraftworld.com/wiki/images/3/33/Gui_crafting_table.png');}
div.inventory.furnace{background: url('http://www.polycraftworld.com/wiki/images/b/b0/Gui_furnace.png');}
div.inventory.tree-tap{background: url('http://www.polycraftworld.com/wiki/images/b/bf/Gui_tree_tap.png');}
div.inventory.machining-mill{background: url('http://www.polycraftworld.com/wiki/images/d/d4/Gui_machining_mill.png');height: 230px;}
div.inventory.distillation-column{background: url('http://www.polycraftworld.com/wiki/images/3/36/Gui_distillation_column.png');}
div.inventory.injection-molder{background: url('http://www.polycraftworld.com/wiki/images/d/da/Gui_injection_molder.png');height: 228px;}
div.inventory.extruder{background: url('http://www.polycraftworld.com/wiki/images/c/ca/Gui_extruder.png');height: 228px;}
div.inventory.fueled-lamp{background: url('http://www.polycraftworld.com/wiki/images/b/b5/Gui_fueled_lamp.png');}
div.inventory.spotlight{background: url('http://www.polycraftworld.com/wiki/images/0/00/Gui_spotlight.png');}
div.inventory.steam-cracker{background: url('http://www.polycraftworld.com/wiki/images/4/47/Gui_steam_cracker.png');}
div.inventory.merox-treatment-unit{background: url('http://www.polycraftworld.com/wiki/images/d/dd/Gui_merox_treatment_unit.png');}
div.inventory.chemical-processor{background: url('http://www.polycraftworld.com/wiki/images/5/52/Gui_chemical_processor.png');}

div.inventory.crafting-table div.slot.index-0{left:60px;top:34px}
div.inventory.crafting-table div.slot.index-1{left:96px;top:34px}
div.inventory.crafting-table div.slot.index-2{left:132px;top:34px}
div.inventory.crafting-table div.slot.index-3{left:60px;top:70px}
div.inventory.crafting-table div.slot.index-4{left:96px;top:70px}
div.inventory.crafting-table div.slot.index-5{left:132px;top:70px}
div.inventory.crafting-table div.slot.index-6{left:60px;top:106px}
div.inventory.crafting-table div.slot.index-7{left:96px;top:106px}
div.inventory.crafting-table div.slot.index-8{left:132px;top:106px}
div.inventory.crafting-table div.slot.index-9{left:248px;top:70px}

div.inventory.furnace div.slot.index-0{left:112px;top:34px}
div.inventory.furnace div.slot.index-1{left:112px;top:106px}
div.inventory.furnace div.slot.index-2{left:232px;top:70px}

div.inventory.machining-mill div.slot.index-0{left:16px;top:36px}
div.inventory.machining-mill div.slot.index-1{left:52px;top:36px}
div.inventory.machining-mill div.slot.index-2{left:88px;top:36px}
div.inventory.machining-mill div.slot.index-3{left:124px;top:36px}
div.inventory.machining-mill div.slot.index-4{left:160px;top:36px}
div.inventory.machining-mill div.slot.index-5{left:16px;top:72px}
div.inventory.machining-mill div.slot.index-6{left:52px;top:72px}
div.inventory.machining-mill div.slot.index-7{left:88px;top:72px}
div.inventory.machining-mill div.slot.index-8{left:124px;top:72px}
div.inventory.machining-mill div.slot.index-9{left:160px;top:72px}
div.inventory.machining-mill div.slot.index-10{left:16px;top:108px}
div.inventory.machining-mill div.slot.index-11{left:52px;top:108px}
div.inventory.machining-mill div.slot.index-12{left:88px;top:108px}
div.inventory.machining-mill div.slot.index-13{left:124px;top:108px}
div.inventory.machining-mill div.slot.index-14{left:160px;top:108px}
div.inventory.machining-mill div.slot.index-15{left:16px;top:144px}
div.inventory.machining-mill div.slot.index-16{left:52px;top:144px}
div.inventory.machining-mill div.slot.index-17{left:88px;top:144px}
div.inventory.machining-mill div.slot.index-18{left:124px;top:144px}
div.inventory.machining-mill div.slot.index-19{left:160px;top:144px}
div.inventory.machining-mill div.slot.index-20{left:16px;top:180px}
div.inventory.machining-mill div.slot.index-21{left:52px;top:180px}
div.inventory.machining-mill div.slot.index-22{left:88px;top:180px}
div.inventory.machining-mill div.slot.index-23{left:124px;top:180px}
div.inventory.machining-mill div.slot.index-24{left:160px;top:180px}
div.inventory.machining-mill div.slot.index-25{left:232px;top:180px}
div.inventory.machining-mill div.slot.index-26{left:304px;top:108px}

div.inventory.distillation-column div.slot.index-0{left:52px;top:36px}
div.inventory.distillation-column div.slot.index-1{left:124px;top:36px}
div.inventory.distillation-column div.slot.index-2{left:124px;top:108px}
div.inventory.distillation-column div.slot.index-3{left:52px;top:108px}
div.inventory.distillation-column div.slot.index-4{left:232px;top:36px}
div.inventory.distillation-column div.slot.index-5{left:268px;top:36px}
div.inventory.distillation-column div.slot.index-6{left:304px;top:36px}
div.inventory.distillation-column div.slot.index-7{left:232px;top:72px}
div.inventory.distillation-column div.slot.index-8{left:268px;top:72px}
div.inventory.distillation-column div.slot.index-9{left:304px;top:72px}
div.inventory.distillation-column div.slot.index-10{left:232px;top:108px}
div.inventory.distillation-column div.slot.index-11{left:268px;top:108px}
div.inventory.distillation-column div.slot.index-12{left:304px;top:108px}

div.inventory.injection-molder div.slot.index-0,div.inventory.extruder div.slot.index-0{left:16px;top:36px}
div.inventory.injection-molder div.slot.index-1,div.inventory.extruder div.slot.index-1{left:179px;top:110px}
div.inventory.injection-molder div.slot.index-2,div.inventory.extruder div.slot.index-2{left:220px;top:110px}
div.inventory.injection-molder div.slot.index-3,div.inventory.extruder div.slot.index-3{left:52px;top:36px}
div.inventory.injection-molder div.slot.index-4,div.inventory.extruder div.slot.index-4{left:88px;top:36px}
div.inventory.injection-molder div.slot.index-5,div.inventory.extruder div.slot.index-5{left:124px;top:36px}
div.inventory.injection-molder div.slot.index-6,div.inventory.extruder div.slot.index-6{left:160px;top:36px}
div.inventory.injection-molder div.slot.index-7,div.inventory.extruder div.slot.index-7{left:88px;top:182px}
div.inventory.injection-molder div.slot.index-8,div.inventory.extruder div.slot.index-8{left:304px;top:110px}

div.inventory.fueled-lamp,div.inventory.spotlight div.slot.index-0{left:16px;top:40px}
div.inventory.fueled-lamp,div.inventory.spotlight div.slot.index-0{left:52px;top:40px}
div.inventory.fueled-lamp,div.inventory.spotlight div.slot.index-0{left:88px;top:40px}
div.inventory.fueled-lamp,div.inventory.spotlight div.slot.index-0{left:142px;top:40px}
div.inventory.fueled-lamp,div.inventory.spotlight div.slot.index-0{left:160px;top:40px}
div.inventory.fueled-lamp,div.inventory.spotlight div.slot.index-0{left:196px;top:40px}
div.inventory.fueled-lamp,div.inventory.spotlight div.slot.index-0{left:232px;top:40px}
div.inventory.fueled-lamp,div.inventory.spotlight div.slot.index-0{left:268px;top:40px}
div.inventory.fueled-lamp,div.inventory.spotlight div.slot.index-0{left:304px;top:40px}

div.inventory.steam-cracker div.slot.index-0{left:34px;top:36px}
div.inventory.steam-cracker div.slot.index-1{left:70px;top:36px}
div.inventory.steam-cracker div.slot.index-2{left:124px;top:36px}
div.inventory.steam-cracker div.slot.index-3{left:124px;top:108px}
div.inventory.steam-cracker div.slot.index-4{left:52px;top:108px}
div.inventory.steam-cracker div.slot.index-5{left:232px;top:36px}
div.inventory.steam-cracker div.slot.index-6{left:268px;top:36px}
div.inventory.steam-cracker div.slot.index-7{left:304px;top:36px}
div.inventory.steam-cracker div.slot.index-8{left:232px;top:72px}
div.inventory.steam-cracker div.slot.index-9{left:268px;top:72px}
div.inventory.steam-cracker div.slot.index-10{left:304px;top:72px}
div.inventory.steam-cracker div.slot.index-11{left:232px;top:108px}
div.inventory.steam-cracker div.slot.index-12{left:268px;top:108px}
div.inventory.steam-cracker div.slot.index-13{left:304px;top:108px}

div.inventory.merox-treatment-unit div.slot.index-0{left:16px;top:36px}
div.inventory.merox-treatment-unit div.slot.index-1{left:52px;top:36px}
div.inventory.merox-treatment-unit div.slot.index-2{left:88px;top:36px}
div.inventory.merox-treatment-unit div.slot.index-3{left:142px;top:36px}
div.inventory.merox-treatment-unit div.slot.index-4{left:142px;top:108px}
div.inventory.merox-treatment-unit div.slot.index-5{left:52px;top:108px}
div.inventory.merox-treatment-unit div.slot.index-6{left:232px;top:36px}
div.inventory.merox-treatment-unit div.slot.index-7{left:268px;top:36px}
div.inventory.merox-treatment-unit div.slot.index-8{left:304px;top:36px}
div.inventory.merox-treatment-unit div.slot.index-9{left:232px;top:72px}
div.inventory.merox-treatment-unit div.slot.index-10{left:268px;top:72px}
div.inventory.merox-treatment-unit div.slot.index-11{left:304px;top:72px}
div.inventory.merox-treatment-unit div.slot.index-12{left:232px;top:108px}
div.inventory.merox-treatment-unit div.slot.index-13{left:268px;top:108px}
div.inventory.merox-treatment-unit div.slot.index-14{left:304px;top:108px}

div.inventory.chemical-processor div.slot.index-0{left:16px;top:36px}
div.inventory.chemical-processor div.slot.index-1{left:52px;top:36px}
div.inventory.chemical-processor div.slot.index-2{left:88px;top:36px}
div.inventory.chemical-processor div.slot.index-3{left:16px;top:72px}
div.inventory.chemical-processor div.slot.index-4{left:88px;top:72px}
div.inventory.chemical-processor div.slot.index-5{left:142px;top:36px}
div.inventory.chemical-processor div.slot.index-6{left:142px;top:108px}
div.inventory.chemical-processor div.slot.index-7{left:52px;top:108px}
div.inventory.chemical-processor div.slot.index-8{left:232px;top:36px}
div.inventory.chemical-processor div.slot.index-9{left:268px;top:36px}
div.inventory.chemical-processor div.slot.index-10{left:304px;top:36px}
div.inventory.chemical-processor div.slot.index-11{left:232px;top:72px}
div.inventory.chemical-processor div.slot.index-12{left:268px;top:72px}
div.inventory.chemical-processor div.slot.index-13{left:304px;top:72px}
div.inventory.chemical-processor div.slot.index-14{left:232px;top:108px}
div.inventory.chemical-processor div.slot.index-15{left:268px;top:108px}
div.inventory.chemical-processor div.slot.index-16{left:304px;top:108px}